@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #FCFCFC;
  --bgSoft: #FCFCFC;
  --text: #11142D;
  --textSoft: #808191;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text)
}

a{
    color: inherit;
    text-decoration: none;
}
