.tableContainer {
  width: 100%;
  margin: 20px auto;
  /* font-family: Arial, sans-serif; */
  font-size: 16px;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.tableContainer thead tr td {
  background-color: #180431;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #eee;
  border-radius: 4px;
}

.tableContainer tbody td {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.tableContainer tbody td:after {
  content: "";
  width: 1px;
  position: absolute;
  right: 0;
  top: 8px;
  bottom: 8px;
  background-color: #eee;
}

.tableContainer tbody td:last-child:after {
  content: none;
}

.tableContainer tbody td:first-child {
  border-left: 1px solid #eee;
}

.tableContainer tbody td:last-child {
  border-right: 1px solid #eee;
}

.tableContainer tbody tr:hover {
  background-color: #fafafa;
}
